.header{
    color:#AAA ;
    border-bottom: 1px solid #999;
}
.footer{
    border-top: 1px solid #999;
    border-bottom: none;
}
.content{
    background-color: #EEE;
}
input {
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 5px;
    width: 80%;
    margin: auto;
    font-size: 15px;
    max-height: 2em;
}
.btn:hover{
    box-shadow: 2px 5px 3px 0px #888;
}
.btn-primary:hover {
    background-color: #0a3f77;
    border: 1px solid #0a3f77;
}
.b_g{
    background-image: linear-gradient(#EEE,#FFF);
}
.input{
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    margin: auto;
    font-size: 15px;
    max-height: 2em;
    background-color: #ffb2b2;
    color: #6d0000;
    border: 1px solid #6d0000;
    margin-top: 10px;
    font-weight: bold;
}